# Introduction to Deep Learning

## Objectives
In this lab, you will embark on the journey of creating a ANN, DNN model tailored for predicting the total expenditure of potential consumers based on various characteristics. As a vehicle salesperson, your goal is to develop a model that can effectively estimate the overall spending potential.

Your task is to build and train an ANN/DNN model using tensorflow in a Jupyter notebook.

Feel Free to Explore the dataset, analyze its contents, and derive meaningful insights. Additionally, feel empowered to create insightful visualizations that enhance the understanding of the data.

# Step 1: Import Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, confusion_matrix
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

WARNING:tensorflow:From C:\Users\rojmi\anaconda4\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

# Step 2: Load and Explore the Data

In [2]:
df= pd.read_csv('car_purchasing.csv',encoding='latin-1')
df

,customer name,customer e-mail,country,gender,age,annual Salary,credit card debt,net worth,car purchase amount
0,Martina Avila,cubilia.Curae.Phasellus@quisaccumsanconvallis.edu,Bulgaria,0,41.851720,62812.09301,11609.380910,238961.2505,35321.45877
1,Harlan Barnes,eu.dolor@diam.co.uk,Belize,0,40.870623,66646.89292,9572.957136,530973.9078,45115.52566
2,Naomi Rodriquez,vulputate.mauris.sagittis@ametconsectetueradip...,Algeria,1,43.152897,53798.55112,11160.355060,638467.1773,42925.70921
3,Jade Cunningham,malesuada@dignissim.com,Cook Islands,1,58.271369,79370.03798,14426.164850,548599.0524,67422.36313
4,Cedric Leach,felis.ullamcorper.viverra@egetmollislectus.net,Brazil,1,57.313749,59729.15130,5358.712177,560304.0671,55915.46248
...,...,...,...,...,...,...,...,...,...
495,Walter,ligula@Cumsociis.ca,Nepal,0,41.462515,71942.40291,6995.902524,541670.1016,48901.44342
496,Vanna,Cum.sociis.natoque@Sedmolestie.edu,Zimbabwe,1,37.642000,56039.49793,12301.456790,360419.0988,31491.41457
497,Pearl,penatibus.et@massanonante.com,Philippines,1,53.943497,68888.77805,10611.606860,764531.3203,64147.28888
498,Nell,Quisque.varius@arcuVivamussit.net,Botswana,1,59.160509,49811.99062,14013.034510,337826.6382,45442.15353
499,Marla,Camaron.marla@hotmail.com,marlal,1,46.731152,61370.67766,9391.341628,462946.4924,45107.22566

# Step 3: Data Cleaning and Preprocessing


**Hint: You could use a `StandardScaler()` or `MinMaxScaler()`**

In [3]:
a= pd.get_dummies(df['country'])

In [4]:
df.drop(['customer name' , 'customer e-mail','country'] , axis=1 , inplace=True)

In [5]:

df=pd.concat([df,a], axis=1)

In [12]:
scaler=StandardScaler()
scaled=scaler.fit_transform(df)

# Step 4: Train Test Split

In [15]:
x=df.drop(['car purchase amount']    ,axis=1)
y=df ['car purchase amount']

x_train, x_test, y_train, y_test =train_test_split (x,y, test_size=0.1 )

# Step 5: Build the Artifical Neural Network Model

In [32]:
import tensorflow as tf
x_train = tf.convert_to_tensor(x_train,dtype='float')
y_train = tf.convert_to_tensor(y_train,dtype='float')
x_test = tf.convert_to_tensor(x_test, dtype='float32')
y_test = tf.convert_to_tensor(y_test, dtype='float32')

model=Sequential()
model.add(Dense(units=108,activation='relu',input_shape=(216, )))
model.add(Dense(units=1,activation='softmax'))
model.compile(
                optimizer='adam', 
                 loss= 'categorical_crossentropy', 
                 metrics=['MSE'])

model.fit(x_train,y_train,epochs=10 , batch_size=32 , validation_split=0.2)

Epoch 1/10

ValueError: in user code:

    File "C:\Users\rojmi\anaconda4\Lib\site-packages\keras\src\engine\training.py", line 1401, in train_function  *
        return step_function(self, iterator)
    File "C:\Users\rojmi\anaconda4\Lib\site-packages\keras\src\engine\training.py", line 1384, in step_function  **
        outputs = model.distribute_strategy.run(run_step, args=(data,))
    File "C:\Users\rojmi\anaconda4\Lib\site-packages\keras\src\engine\training.py", line 1373, in run_step  **
        outputs = model.train_step(data)
    File "C:\Users\rojmi\anaconda4\Lib\site-packages\keras\src\engine\training.py", line 1151, in train_step
        loss = self.compute_loss(x, y, y_pred, sample_weight)
    File "C:\Users\rojmi\anaconda4\Lib\site-packages\keras\src\engine\training.py", line 1209, in compute_loss
        return self.compiled_loss(
    File "C:\Users\rojmi\anaconda4\Lib\site-packages\keras\src\engine\compile_utils.py", line 277, in __call__
        loss_value = loss_obj(y_t, y_p, sample_weight=sw)
    File "C:\Users\rojmi\anaconda4\Lib\site-packages\keras\src\losses.py", line 143, in __call__
        losses = call_fn(y_true, y_pred)
    File "C:\Users\rojmi\anaconda4\Lib\site-packages\keras\src\losses.py", line 270, in call  **
        return ag_fn(y_true, y_pred, **self._fn_kwargs)
    File "C:\Users\rojmi\anaconda4\Lib\site-packages\keras\src\losses.py", line 2221, in categorical_crossentropy
        return backend.categorical_crossentropy(
    File "C:\Users\rojmi\anaconda4\Lib\site-packages\keras\src\backend.py", line 5573, in categorical_crossentropy
        target.shape.assert_is_compatible_with(output.shape)

    ValueError: Shapes (None, 216) and (None, 1) are incompatible

### Clarify Your Artificial Neural Network (ANN) Model, Optimization, and Loss Function Choices and justify

In [13]:
1- the training is fast 
2- the and the optimzization used is softmx , for adams is faster .

,gender,age,annual Salary,credit card debt,net worth,car purchase amount,Afghanistan,Algeria,American Samoa,Andorra,...,Venezuela,Viet Nam,"Virgin Islands, British","Virgin Islands, United States",Wallis and Futuna,Western Sahara,Yemen,Zimbabwe,marlal,Åland Islands
0,0,41.851720,62812.09301,11609.380910,238961.2505,35321.45877,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,0,40.870623,66646.89292,9572.957136,530973.9078,45115.52566,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,1,43.152897,53798.55112,11160.355060,638467.1773,42925.70921,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
3,1,58.271369,79370.03798,14426.164850,548599.0524,67422.36313,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,1,57.313749,59729.15130,5358.712177,560304.0671,55915.46248,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,0,41.462515,71942.40291,6995.902524,541670.1016,48901.44342,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
496,1,37.642000,56039.49793,12301.456790,360419.0988,31491.41457,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
497,1,53.943497,68888.77805,10611.606860,764531.3203,64147.28888,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
498,1,59.160509,49811.99062,14013.034510,337826.6382,45442.15353,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
499,1,46.731152,61370.67766,9391.341628,462946.4924,45107.22566,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

Write your anwser here

# Step 6: Train the Model

In [ ]:
model.fit(x_train, y_train, epochs=10, batch_size=32, validation_split=0.2)

# Step 7: Evaluate the Model

In [ ]:
from sklearn.metrics import classification_report , mean_squared_error , accuracy_score ,f1_score

y_pred = model.predict(x_test)
mean_squared_error(y_pred, y_test)

# Step 8: Build the Deep Neural Network Model

In [ ]:
model = Sequential()
model.add(Dense(units=216, activation='relu', input_shape=(216, )))
model.add(Dense(units=108, activation='relu'))
model.add(Dense(units=54, activation='relu'))
model.add(Dense(units=27, activation='relu'))
model.add(Dense(units=1, activation='softmax'))
model.compile(
    optimizer='adam',loss='categorical_crossentropy',
    metrics=['MSE'])

### Clarify Your Deep Neural Network (DNN) Model, Optimization, and Loss Function Choices and justify

Write your anwser here

# Step 9: Train the Model

In [ ]:
model.fit(x_train, y_train, epochs=10, batch_size=32, validation_split=0.2)

# Step 10: Evaluate the Model

In [ ]:
y_pred = model.predict(x_test)
mean_squared_error(y_pred, y_test)

# Step 11: Evaluate and Compare Scores, Training Time, and Prediction Time of ANN/DNN Models

In [ ]:
1- dnn and ann have seamingly the same time maybe there will be a diff if the data is larger 
2- they have the same data